.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-select {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  appearance: none;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66699 8.3335L10.0003 11.6668L13.3337 8.3335' stroke='%231C1C1E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat;
  background-position: right 0.7rem center;
  background-size: 1.5rem;
}

.form-radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-radio-group label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.form-radio-group input[type="radio"] {
  margin-right: 0.5rem;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  outline: none;
}

.form-radio-group input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0.2rem;
  background-color: #1C1C1E;
  border-radius: 50%;
}

.form-date-input {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-date-input label {
  margin-right: 1rem;
}

.form-date-input input[type="date"] {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
}

.form-time-input input[type="time"] {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
}

.form-submit-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: #1C1C1E;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.form-submit-button:hover {
  background-color: #2c2c2e;
}